* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: rgb(39, 39, 41);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
}

.container {
    border-radius: 15px;
    padding: 30px;
    color: black;
    width: 90%;
    max-width: 500px;
    background-color: rgb(219, 219, 219);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px; 
    font-weight: bold; 
}

input, select {
    width: 100%;
    height: 40px; 
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #448fa3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #357d8d; 
}

.confirmation-gif {
    width: 100px; 
    margin-top: 20px; 
}

@media (max-width: 600px) {
    .container {
        padding: 20px; 
    }

    button {
        padding: 8px; 
    }
}
